################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppMetricCollectData/.vs/AppMetricCollectData
/AppMetricCollectData/bin/Debug/netcoreapp2.1
/AppMetricCollectData/obj
